<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Imagenes">
    <meta name="theme-color" content="#3c790a">
    <title>Imagenes</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <app-menu></app-menu>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG0456-1600_large_2x.jpg 2x, assets/images/CIMG0456-800_large_1x.jpg" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG0456_medium.jpg" />
                        <img src="assets/images/CIMG0456_small.jpg" class="d-block w-100" alt="CIMG0456">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/P150810_18.500001-1600_large_2x.webp 2x, assets/images/P150810_18.500001-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/P150810_18.500001_medium.webp" />
                        <img src="assets/images/P150810_18.500001_small.webp" class="d-block w-100" alt="P150810_18.500001">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/DSC00871-1600_large_2x.webp 2x, assets/images/DSC00871-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/DSC00871_medium.webp" />
                        <img src="assets/images/DSC00871_small.webp" class="d-block w-100" alt="DSC00871">
                    </picture>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/IMG_8020-1600_large_2x.jpg 2x, assets/images/IMG_8020-800_large_1x.jpg" />
                        <source media="(min-width: 500px)" srcset="assets/images/IMG_8020_medium.jpg" />
                        <img src="assets/images/IMG_8020_small.jpg" class="d-block w-100" alt="IMG_8020">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG1779-1600_large_2x.webp 2x, assets/images/CIMG1779-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG1779_medium.webp" />
                        <img src="assets/images/CIMG1779_small.webp" class="d-block w-100" alt="CIMG1779">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/PICT0417-1600_large_2x.webp 2x, assets/images/PICT0417-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/PICT0417_medium.webp" />
                        <img src="assets/images/PICT0417_small.webp" class="d-block w-100" alt="PICT0417">
                    </picture>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG1801-1600_large_2x.webp 2x,assets/images/CIMG1801-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG1801_medium.webp" />
                        <img src="assets/images/CIMG1801_small.webp" class="d-block w-100" alt="CIMG1801">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG1803-1600_large_2x.webp 2x, assets/images/CIMG1803-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG1803_medium.webp" />
                        <img src="assets/images/CIMG1803_small.webp" class="d-block w-100" alt="CIMG1803">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/DSC00902-1600_large_2x.webp 2x, assets/images/DSC00902-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/DSC00902_medium.webp" />
                        <img src="assets/images/DSC00902_small.webp" class="d-block w-100" alt="DSC00902">
                    </picture>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/PICT0384-1600_large_2x.png 2x, assets/images/PICT0384-800_large_1x.png" />
                        <source media="(min-width: 500px)" srcset="assets/images/PICT0384_medium.png" />
                        <img src="assets/images/PICT0384_small.png" class="d-block w-100" alt="PICT0384">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/PICT0433-1600_large_2x.webp 2x, assets/images/PICT0433-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/PICT0433_medium.webp" />
                        <img src="assets/images/PICT0433_small.webp" class="d-block w-100" alt="PICT0433">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG1700-1600_large_2x.webp 2x, assets/images/CIMG1700-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG1700_medium.webp" />
                        <img src="assets/images/CIMG1700_small.webp" class="d-block w-100" alt="CIMG1700">
                    </picture>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>

