<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de nuevo hermano</title>
</head>
<body>
    <h1>Listado de nuevo hermano</h1>
    <div *ngIf="!error">
        <div *ngIf="nuevohermano">
            <div *ngFor="let nuevohermano of nuevohermano">
                <div>{{ nuevohermano.nombre }}</div>
            </div>
        </div>

        <div *ngIf="!nuevohermano">
            <img src="assets/images/cargandoLB.gif" />
        </div>
    </div>

    <div *ngIf="error">
        <img src="assets/images/error.png" style="float:left" />
        Ha ocurrido un erro al obtener los datos del servidor. Por favor, vuelva a
        intentarlo más tarde.
    </div>
</body>
</html>
