    <app-cabecera></app-cabecera>
    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" aria-label="imagenes" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/images/slide/DSC00873.webp);">
                    
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/images/slide/DSC00878.webp);">
                    
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/images/slide/DSC00882.webp);">
                   
                </div>

                <!-- Slide 4 -->
                <div class="carousel-item" style="background-image: url(assets/images/slide/DSC00884.webp);">
                   
                </div>

                <!-- Slide 4 -->
                <div class="carousel-item" style="background-image: url(assets/images/slide/DSC00887.webp);">
                   
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        </div>
    </section>
    <!-- End Hero -->
    <main>
        <h2>Un poco sobre la Hermandad Virgen De Las Mercedes</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/PICT0385-1600_large_2x.webp 2x, assets/images/PICT0385-1000_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/PICT0385_medium.webp" />
                        <img src="assets/images/PICT0385.webp" class="d-block w-100" alt="PICT0385">
                    </picture>
                    <br>
                    <br>
                    <p><span style="color: #030303;">UN POCO SOBRE LA HERMANDAD - Virgen de las Mercedes</span></p>
                    <hr>
                    <p><span style="color: #030303;">Las fiestas en honor a la Virgen de las Mercedes la celebramos siempre el 15 de Agosto, ese día se le hace a las 12:00 de la mañana una romeria por todo el pueblo y llega a su destino al Parque el Palmeral, para luego decirle a las 20:00 horas de la tarde la Misa, y luego empezar la procesión y si el tiempo lo permite se pasea por la playa.</span></p>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/P150810_18.550001-1600_large_2x.webp 2x, assets/images/PICT0385-1000_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/PICT0385_medium.webp" />
                        <img src="assets/images/P150810_18.550001.webp" class="d-block w-100" alt="P150810_18.550001">
                    </picture>
                    <br>
                    <br>
                    <img src="assets/images/PICT0393.webp" class="d-block w-100" alt="PICT0393">
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </main>
    <app-pie-pagina></app-pie-pagina>
