<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <span class="lines-menu"></span>
                    <span class="lines-menu"></span>
                    <span class="lines-menu"></span>
                  </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/administracion" title="Página principal de administracion" aria-label="Vuelve a administracion">Administracion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/noticias/crearnoticia" title="Página de crear noticia"  aria-label="Vuelve a crear noticia">Crear noticia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/noticias/editarnoticia" title="Página de editar noticia"  aria-label="Vuelve a editar noticia">Editar noticia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/noticias/listadonoticia" title="Página de listado noticia"  aria-label="Vuelve a listado noticia">Listado de noticia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/nuevohermano/crearnuevohermano" title="Página de crear nuevo hermano"  aria-label="Vuelve a crear nuevo hermano">Crear nuevo hermano</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/nuevohermano/editarnuevohermano" title="Página de editar nuevo hermano"  aria-label="Vuelve a editar nuevo hermano">Editar nuevo hermano</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/nuevohermano/listadonuevohermano" title="Página de listado nuevo hermano"  aria-label="Vuelve a listado nuevo hermano">Listado nuevo hermano</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/contacto/crearcontacto" title="Página de crear contacto"  aria-label="Vuelve a crear contacto">Crear contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/contacto/editarcontacto" title="Página de editar contacto"  aria-label="Vuelve a editar contacto">Editar contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/paginas/contacto/listadocontacto" title="Página de listado contacto"  aria-label="Vuelve a listado contacto">Listado contacto</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

