<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c790a">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Videos">
    <title>Videos</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls class="embed-responsive-item">
                            <source src="assets/videos/Petalada_2017.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls class="embed-responsive-item">
                            <source src="assets/videos/video.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </main>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>
