    <app-cabecera></app-cabecera>
    <main>
        <h2>Información de Alta de Nuevo hermano</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>
                        Si deseas formar parte de la Hermandad Sacramental Virgen De Las Mercedes,
                        puedes transmitar su solicitud de ingreso, mediante alguna de las siguientes opciones:<br>
                        *En la Secretaria de la Hermanda, pidiendo la Solicitud de Ingreso y presentándola debidamente
                        cumplimentada, aportando la documentación que en ella se requiere y abonando la cuota de ingreso en el momento
                        de su presentación.<br>
                        *Online, cumplimentando todas y cada una de las casillas del siguiente formulario, adjuntando la documentación
                        requerida y abonando la cuota de ingreso mediante pago electrónico con cargo a una tarjeta de crédito o débito. El
                        coste es de 10€.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <form [formGroup]="NuevoHermanoFormulario" #formDir="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <div [hidden]="formDir.submitted">
                            <div class="cross-validation" [class.cross-validation-error]="NuevoHermanoFormulario.errors?.identityRevealed && (NuevoHermanoFormulario.touched || NuevoHermanoFormulario.dirty)">
                                <h2 class="titulo">Nueva solicitud de hermano</h2>
                        <fieldset>
                            <legend>Datos principales</legend>
                            <hr>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="nombre" 
                                       id="nombre"
                                       formControlName="nombre"
                                       required
                                       size="30"
                                       aria-describedby="nombre">

                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                                    <div *ngIf="nombre.errors.required">
                                        Debe indicar el nombre.
                                    </div>
                                    <div *ngIf="nombre.errors.minlength">
                                        El nombre debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="primerapellido">Primer Apellido</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="primerapellido" 
                                       id="primerapellido"
                                       formControlName="primerapellido"
                                       required
                                       size="30"
                                       aria-describedby="primerapellido">

                                <div *ngIf="primerapellido.invalid && (primerapellido.dirty || primerapellido.touched)" class="alert alert-danger">
                                    <div *ngIf="primerapellido.errors.required">
                                            Debe indicar el primer apellido.
                                    </div>
                                    <div *ngIf="primerapellido.errors.minlength">
                                        El primer apellido debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="segundoapellido">Segundo Apellido</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="segundoapellido" 
                                       id="segundoapellido"
                                       formControlName="segundoapellido"
                                       required
                                       size="30"
                                       aria-describedby="segundoapellido">

                                <div *ngIf="segundoapellido.invalid && (segundoapellido.dirty || segundoapellido.touched)" class="alert alert-danger">
                                    <div *ngIf="segundoapellido.errors.required">
                                        Debe indicar el segundo apellido.
                                    </div>
                                    <div *ngIf="segundoapellido.errors.minlength">
                                        El segundo apellido debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dni">DNI</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="dni" 
                                       id="dni" 
                                       formControlName="dni"
                                       required
                                       size="30"
                                       aria-describedby="dni">

                                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
                                    <div *ngIf="dni.errors.required">
                                        Debe indicar el dni.
                                    </div>
                                    <div *ngIf="dni.errors.minlength">
                                        El dni debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correoelectronico">Correo electrónico</label>
                                <input type="email" 
                                       class="form-control" 
                                       name="correoelectronico" 
                                       id="correoelectronico"
                                       formControlName="correoelectronico"
                                       required
                                       size="30"
                                       aria-describedby="correoelectronico">

                                <div *ngIf="correoelectronico.invalid && (correoelectronico.dirty || correoelectronico.touched)" class="alert alert-danger">
                                    <div *ngIf="correoelectronico.errors.required">
                                        Debe indicar el correo electronico.
                                    </div>
                                    <div *ngIf="correoelectronico.errors.minlength">
                                        El correo electronico debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nacimiento">Fecha de Nacimiento</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="nacimiento" 
                                       id="nacimiento"
                                       formControlName="nacimiento"
                                       required
                                       size="30"
                                       aria-describedby="nacimiento">

                                <div *ngIf="nacimiento.invalid && (nacimiento.dirty || nacimiento.touched)" class="alert alert-danger">
                                    <div *ngIf="nacimiento.errors.required">
                                        Debe indicar la fecha de nacimiento.
                                    </div>
                                    <div *ngIf="nacimiento.errors.minlength">
                                        La fecha de nacimiento debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="telefono" 
                                       id="telefono"
                                       formControlName="telefono"
                                       required
                                       size="30"
                                       aria-describedby="telefono">

                                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                                    <div *ngIf="telefono.errors.required">
                                        Debe indicar el telefono.
                                    </div>
                                    <div *ngIf="telefono.errors.minlength">
                                        El telefono debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Datos adjuntos</legend>
                            <hr>
                            <div class="form-group">
                                <label for="foto">Foto</label>
                                <input type="hidden" name="MAX_FILE_SIZE" value="102400">
                                <input type="file" 
                                       class="form-control-file" 
                                       name="foto" 
                                       id="foto"
                                       formControlName="foto"
                                       required
                                       aria-describedby="foto" 
                                       size="44">

                                <div *ngIf="foto.invalid && (foto.dirty || foto.touched)" class="alert alert-danger">
                                    <div *ngIf="foto.errors.required">
                                        Debes seleccionar la foto.
                                    </div>         
                                </div>
                            </div>
                        </fieldset>
                            </div>
                            <button type="submit" class="btn btn-primary" name="enviar" id="enviar" value="enviar" [disabled]="NuevoHermanoFormulario.invalid">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <br>
    <app-pie-pagina></app-pie-pagina>

