<h3>{{title}} - {{displayQuery}}</h3>
<form #myForm="ngForm" (ngSubmit)="sendQuery(myForm)">
  <div *ngFor="let key of modelKeys">
      {{key}}
      <input name="{{key}}"  placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" required *ngIf="key === 'q'" appNoSpecialChars type='text' />
      <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" minlength='2' maxlength='4' *ngIf="key === 'stars'" appNoSpecialChars type='number' />
      <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" *ngIf="key !== 'q' && key !== 'stars'" type="{{checkType(model[key])}}" appNoSpecialChars />
      <div *ngIf="myForm.controls[key] && myForm.controls[key].invalid">{{key}} is invalid.</div>
  </div> 
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
<div *ngIf="searchResults; else elseBlock">
  <div *ngIf="searchResults.total_count > 0; else sinResultados">
    <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
    <ul class="list">
      <app-repository-display [searchResults]="searchResults.repositories" *ngIf="searchResults.repositories"></app-repository-display>
      <app-code-display [searchResults]="searchResults.code" *ngIf="searchResults.code"></app-code-display>
    </ul>
  </div>
</div>

<ng-template #sinResultados>No hay resultados para la cadena de búsqueda</ng-template>
<ng-template #elseBlock>Loading...</ng-template>
