<section>
    <h2>Un poco sobre la Hermandad Virgen De Las Mercedes</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/DSC00873.webp" class="d-block w-100" alt="DSC00873">
                        </div>
                        <div class="carousel-item active">
                            <img src="assets/images/DSC00878.webp" class="d-block w-100" alt="DSC00878">
                        </div>
                        <div class="carousel-item active">
                            <img src="assets/images/DSC00882.webp" class="d-block w-100" alt="DSC00882">
                        </div>
                        <div class="carousel-item active">
                            <img src="assets/images/DSC00884.webp" class="d-block w-100" alt="DSC00884">
                        </div>
                        <div class="carousel-item active">
                            <img src="assets/images/DSC00887.webp" class="d-block w-100" alt="DSC00887">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p><span style="color: #030303;">UN POCO SOBRE LA HERMANDAD - Virgen de las Mercedes</span></p>
                    <hr>
                    <p><span style="color: #030303;">Las fiestas en honor a la Virgen de las Mercedes la celebramos siempre el 15 de Agosto, ese día se le hace a las 12:00 de la mañana una romeria por todo el pueblo y llega a su destino al Parque el Palmeral, para luego decirle a las 20:00 horas de la tarde la Misa, y luego empezar la procesión y si el tiempo lo permite se pasea por la playa.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
