<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Imagenes">
    <meta name="theme-color" content="#3c790a">
    <title>Imagenes</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/CIMG0456-1600_large_2x.jpg 2x, assets/images/CIMG0456-800_large_1x.jpg" />
                        <source media="(min-width: 500px)" srcset="assets/images/CIMG0456_medium.jpg" />
                        <img src="assets/images/CIMG0456_small.jpg" class="d-block w-100" alt="CIMG0456">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/P150810_18.500001-1600_large_2x.webp 2x, assets/images/P150810_18.500001-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/P150810_18.500001_medium.webp" />
                        <img src="assets/images/P150810_18.500001_small.webp" class="d-block w-100" alt="P150810_18.500001">
                    </picture>
                    <br>
                    <br>
                    <br>
                    <picture>
                        <source media="(min-width: 750px)" srcset="assets/images/DSC00871-1600_large_2x.webp 2x, assets/images/DSC00871-800_large_1x.webp" />
                        <source media="(min-width: 500px)" srcset="assets/images/DSC00871_medium.webp" />
                        <img src="assets/images/DSC00871_small.webp" class="d-block w-100" alt="DSC00871">
                    </picture>
                    <br>
                    <br>
                    <br>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>
