<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c790a">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Novenas">
    <title>Novenas</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <app-menu></app-menu>
    <section>
        <h2>Información sobre las novenas</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                   <h5>PARA TODOS LOS DÍAS:</h5>
                   <hr>
                   <p>A las 20:30h. Rezo del Santo Rosario.</p>
                   <p>A las 21:00h. Santa Misa del Novenario.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                   <h5>Día primero: 6 de Agosto</h5>
                   <hr>
                   <p>"La Virgen Maria, madre y medianera de gracia"</p>
                   <p>Predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                   <p>Canta: Coro por determinar.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día segundo: 7 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, fuente de la Salvación"</p>
                    <p>Predica: Rvdo. D.Alberto Raposo Gómez, Párroco de San Sebastián de Arganda del Rey (Madrid).</p>
                    <p>Canta: Coro Ritmo Flamenco de Berja.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día tercero: 8 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, madre y maestra espiritual"</p>
                    <p>Predica: Rvdo. D.Alberto Raposo Gómez, Párroco de San Sebastián de Arganda del Rey (Madrid).</p>
                    <p>Canta: Entre acordes de El Ejido.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día cuarto: 9 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, madre del buen consejo"</p>
                    <p>Predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                    <p>Canta: Coro por determinar.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día quinto: 10 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, causa de nuestra alegría"</p>
                    <p>Predica: Rvdo. D.Alberto Raposo Gómez, Párroco de San Sebastián de Arganda del Rey (Madrid).</p>
                    <p>Canta: Coro de la Hermandad Ntra. Sra. del Rocío de El Ejido.</p>
                    <p>Santa Misa por los ENFERMOS. Pediremos por ellos y se celebrará el Sacramento de la Santa Unción.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día sexto: 11 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, amparo de la fe"</p>
                    <p>Predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                    <p>Canta: Coro La Balandra de Balerma.</p>
                    <p>Santa Misa por los DIFUNTOS hermanos nuestros que en este curso han comenzado su andadura hacia la casa del Padre.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día séptimo: 12 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, madre del amor hermoso"</p>
                    <p>Predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                    <p>Canta: Coro Voces de Esperanza.</p>
                    <p>Santa Misa por los HERMANOS DE LA HERMANDAD SACRAMENTAL DE LA VIRGEN DE LAS MERCEDES.</p>
                    <p>Se impondrán las medallas a los nuevos hermanos.</p>
                    <p>A continuación II Exaltación Mariana a la Virgen de las Mercedes a cargo del D.José Manuel Fernández Ferrón</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día octavo: 13 de Agosto</h5>
                    <hr>
                    <p>"La Virgen María, madre de la santa esperanza"</p>
                    <p>Predica: Rvdo. D.Alberto Raposo Gómez, Párroco de San Sebastián de Arganda del Rey (Madrid).</p>
                    <p>Canto: Soprano: Dña.Lola Gómez Olvera de El Ejido.</p>
                    <p>Santa Misa por las VOCACIONES SACERDOTALES Y RELIGIOSAS Y POR CÁRITAS PARROQUIAL DE BALERMA.</p>
                    <p>Traer alimentos. La colecta será para Cáritas Parroquial.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Día noveno: 14 de Agosto</h5>
                    <hr>
                    <p>A las 20:00h: Ofrneda floral a nuestra Patrona. Quién desee ofrecer flores podrá adquirirlas en la entrada del Templo.</p>
                    <p>"Santa María, madre y reina de la unidad"</p>
                    <p>Predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                    <p>Canta: por determinar.</p>
                    <p>Santa Misa por los TRABAJADORES DE LA AGRICULTURA Y LA MAR de Balerma.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>DIA 15 DE AGOSTO</h5>
                    <hr>
                    <p>- A las 12:00h: Rezo del Ángelus y Romería desde la Iglesia hasta el parque El Palmeral. Nos acompañará una Charanga "De fiesta en fiesta" de Roquetas de Mar.</p>
                    <p>- A las 19:30h: Rezo del Santo Rosario.</p>
                    <p>- A las 20:00h: Santa Misa en honor de la Virgen de las Mercedes y a continuación, solemne procesión y embarque de la Virgen para que bendiga nuestro pueblo y nuestras costas (si el tiempo nos acompaña).</p>
                    <p>Tercer Concurso Fotográfico "Virgen de las Mercedes", durante la Romería y la Procesión.</p>
                    <p>Preside y predica: Rvdo. D.Jesús Zapata Rueda, Párroco y Consiliario.</p>
                    <p>Canta: Coro Primavera Rociera de Adra.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="assets/images/virgen-mercedes.webp" class="d-block w-100" alt="virgen-mercedes">
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>