<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Contacto">
    <meta name="theme-color" content="#3c790a">
    <title>Contacto</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <app-menu></app-menu>
    <section>
        <h2>Información de donde estamos situados</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 izquierda">
                    <p><span style="color: #030303;">MAPA</span></p>
                    <hr>
                    <img src="assets/images/mapa.jpeg" class="d-block w-100" alt="mapa">
                    <br>
                    <br>
                    <p><span style="color: #030303;">Nos podeís encontrar en Balerma que es un pueblo del municipio del Ejido, y también podeís encontrarnos los Lunes por la mañana en un puesto que ponemos para vender cosas de la Hermandad en el Mercado o contactar mediante nuestro correo y nuestro telefono para apuntaros a la Hermandad.</span></p>
                </div>
                <div class="col-sm-12 col-md-3 col-md-3 derecha">
                    <p><span style="color: #030303;">CONTACTA CON NOSOTROS</span></p> 
                    <hr>
                    <p><span style="color: #030303;">Puedes contactar con nosotros a traves de nuestro mail o nuestro telefono 646 87 89 85</span></p>
                    <br>
                    <form [formGroup]="ContactoFormulario" #formDir="ngForm" (ngSubmit)="onSubmit()">
                        <div [hidden]="formDir.submitted">
                            <div class="cross-validation" [class.cross-validation-error]="ContactoFormulario.errors?.identityRevealed && (ContactoFormulario.touched || ContactoFormulario.dirty)">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="nombre" 
                                           id="nombre" 
                                           formControlName="nombre"
                                           required
                                           size="30"
                                           aria-describedby="nombre">

                                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                                        <div *ngIf="nombre.errors.required">
                                             Debe indicar el nombre.
                                        </div>
                                        <div *ngIf="nombre.errors.minlength">
                                             El nombre debe tener como mínimo 4 caractéres.
                                        </div>            
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" 
                                           class="form-control" 
                                           name="email" 
                                           id="email"
                                           formControlName="email"
                                           required
                                           size="30"
                                           aria-describedby="email">

                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                        <div *ngIf="email.errors.required">
                                            Debe indicar el email.
                                        </div>
                                        <div *ngIf="email.errors.minlength">
                                            El email debe tener como mínimo 4 caractéres.
                                        </div>            
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mensaje">Mensaje</label>
                                <textarea class="form-control" 
                                          name="mensaje" 
                                          id="mensaje"
                                          formControlName="mensaje"
                                          required
                                          aria-describedby="mensaje" 
                                          cols="5" 
                                          rows="3">
                                </textarea>

                                <div *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)" class="alert alert-danger">
                                    <div *ngIf="mensaje.errors.required">
                                        Debe indicar el mensaje.
                                    </div>
                                    <div *ngIf="mensaje.errors.minlength">
                                        El mensaje debe tener como mínimo 4 caractéres.
                                    </div>            
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="contacto" id="contacto" value="contacto" [disabled]="ContactoFormulario.invalid">Contacto</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>

