    <app-cabecera></app-cabecera>
    <main>
        <h2>Saludo del Hermano Mayor</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                   <p>Queridos amigos en general y, a todos aquellos hermanos de nuestra Hermandad Sacramental de Nuestra Santísima Virgen de las Mercedes en particular:</p>
                   <p>Quiero que recibáis un cordial saludo del equipo de gobierno y en el mio propio.</p>
                   <p>Como sabéis, se acercan esos días de agosto en que todos estamos de descanso.</p>
                   <p>En estos días de caluroso verano y que merecidamente cada uno tiene, cada año después de arduas tareas agricolas, también son los días en que nosotros dedicamos (me refiero a la Hermandad) "esfuerzo y sobre todo mucho amor y devoción en los preparativos de nuestro novenario en honor a la Patrona de Balerma la Virgen de las Mercedes".</p>
                   <p>Por lo que siempre pido al pueblo y a los que nos visitáis, que estos son días muy importantes, vuestra presencia en cada una de las novenas, pues como cada año, os repito, todos tendremos cosas que pedirle a la Virgen, pero también a nuestra Señora y Madre Virgen de las Mercedes se alegraría de que estemos todos con ella y no se sienta nunca sola, como le pasaría a cualquier madre.</p>
                   <p>Antes de despedirme también quiero agradecer a todas las personas que puedan o quieran participar ayudando a la hermandad con su apoyo a estos eventos que no es otro que para nuestra Santisima Virgen de las Mercedes se sienta orgullosa de nuestra gente y pueda pasear por nuestras calles recibienbo vuestro amor, que le podamos orar en el parque y si el tiempo lo permite hacerla marinera. A buen seguro será un día grande para todos los balermeros.</p>
                   <p>Sin más, que paséis un feliz verano y Viva la Santísima Virgen de las Mercedes.</p>
                   <p  style="text-align:right;">Gabriel Fernández Ferrón</p>
                   <p  style="text-align:right;">Hermano Mayor</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="assets/images/foto.webp" class="d-block w-100" alt="foto">
                </div>
            </div>
        </div>
    </main>
    <br>
    <app-pie-pagina></app-pie-pagina>

