<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-3 col-lg-3 footer-contact">
            <h3>HERMANDAD</h3>
            <p>
              Almeria (Balerma), CP 04712<br>
              España <br><br>
              <strong>Telefono:</strong> +34 646 87 89 85<br>
            </p>
          </div>

          <div class="col-sm-12 col-md-3 col-lg-3 footer-links">
            <h4>Enlaces útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/administracion" title="Página principal de administracion" aria-label="Vuelve administracion">Administracion</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/noticias/crearnoticia" title="Página de crear noticia" aria-label="Vuelve a crear noticia">Cnoticia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/noticias/editarnoticia" title="Página de editar noticia" aria-label="Vuelve a editar noticia">Enoticia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/noticias/listadonoticia" title="Página de listado noticia" aria-label="Vuelve a listado noticia">Lnoticia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/nuevohermano/crearnuevohermano" title="Página de crear nuevo hermano" aria-label="Vuelve a crear nuevo hermano">Cnuevohermano</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/nuevohermano/editarnuevohermano" title="Página de editar nuevo hermano" aria-label="Vuelve a editar nuevo hermano">Enuevohermano</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/nuevohermano/listadonuevohermano" title="Página de listado nuevo hermano" aria-label="Vuelve a listado nuevo hermano">Lnuevohermano</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/contacto/crearcontacto" title="Página de crear contacto" aria-label="Vuelve a crear contacto">Ccontacto</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/contacto/editarcontacto" title="Página de editar contacto" aria-label="Vuelve a editar contacto">Econtacto</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/paginas/contacto/listadocontacto" title="Página de listado contacto" aria-label="Vuelve a listado contacto">Lcontacto</a></li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 footer-newsletter">
            <img src="assets/images/logo.webp" alt="logo"><span><p>Hermandad Sacramental Virgen De Las Mercedes</p></span>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
            <p><span style="color:#ffffff;">2020 © Proyecto Integrado</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

