/* You can add global styles to this file, and also import other style files */

//Estilos principales de la página de inicio
header .logo{
    padding: 20px;
}
header .texto{
    padding: 20px;
    text-align: right;
}
