/* You can add global styles to this file, and also import other style files */

$colornav: #00662a;
$colornavbar-toggler: #fff;
$nav-link: #fff;
$dropdown: #00662a;
$dropdown-item:#fff;
$lines-menu: #000;
$sidebar-menu: #000;
$skip-link: #000;
$footer: #00662a;


//Estilos por defecto a todas las paginas
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//Estilos principales de la página de inicio
header .logo{
    padding: 20px;
}
header .texto{
    padding: 20px;
    text-align: right;
}
section h2{
    text-align: center;
}
nav{
    background-color: $colornav;
}
.navbar-toggler {
    background: $colornavbar-toggler;
} 
.nav-link {
    color: $nav-link;
    padding: 10px;
}
a{
    color: #fff;
}
nav a:link{
    color: #fff;
}
nav a:hover{
    color: #fff;
}
nav a:active{
    color: #fff;
}
nav a:visited{
    color: #fff;
}
.navbar-nav{
    justify-content: space-around;
    width: 100%;
}
.dropdown-menu{
    background: $dropdown;
}
.dropdown-item{
    color: $dropdown-item;
}
.lines-menu {
    background-color: $lines-menu;
    width: 100%;
    padding: 1px;
    display: block;
    margin: 6px 0;
}
.banner-img{
    padding: 1em 0;
}
section h2{
    text-align: center;
}
footer{
    text-align: center;
    background-color: $footer;
    padding: 5px;
}
.sidebar-menu {
    color: $sidebar-menu;
    text-decoration: none;
}
.sidebar-menu:hover {
    color: $sidebar-menu;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.skip-link{
    color: $skip-link;
    text-decoration: none;
}
.skip-link:hover{
    color: $skip-link;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
//Estilos para insertar el reloj
#laFecha{
    width: 200px;
    font-size: 12px;
    background-color: #e4e4e4;
    padding: 5px;
    border-radius: 5px;
}
#info{
    margin: 4px;
    padding: 5px;
    font-size: 15px;
    background-color: #e4e4e4;
    width: 100PX;
    margin-left: 40px;
    border: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
//Estilos para insertar el calendario 
:root {
    --color-bg-calendar: #e4e4e4;
    --color-cell: black;
    --color-cell-disabled: #e4e4e4;
}

.root {
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    width: 100%;
    font-family: sans-serif;
}

.calendar__header {
    color: black;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.calendar .control {
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    color: black;
    margin-bottom: 20px;
}

.grid__body {
    grid-auto-rows: 40px;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--color-bg-calendar);
    background-color: black;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
    color: var(--color-cell-disabled);
    cursor: not-allowed;
}
//Estilos del boton del formulario noticias.
.btn {
    width: min-content;
    padding: 2% 10% 2% 10%;
}
//Estilos del boton del formulario nuevo hermano.
.btn {
    width: min-content;
    padding: 2% 10% 2% 10%;
}
//Estilos del boton del formulario de contacto.
.btn {
    width: min-content;
    padding: 2% 10% 2% 10%;
}
