/* You can add global styles to this file, and also import other style files */

@import "assets/scss/bootstrap.scss"

body
  font-family: "Open Sans", sans-serif
  color: #4d4643
  font-weight: 400
  font-size: 15px
  line-height: 1.8

a
  -webkit-transition: .3s all ease
  -o-transition: .3s all ease
  transition: .3s all ease
  text-decoration: none
  color: #1bbd36

a:hover
  color: #2ae149
  text-decoration: none

h1, h2, h3, h4, h5
  color: #fff
  font-family: "Playfair Display", times, serif

/* Header */
header
  background: #fff
  transition: all 0.5s
  z-index: 997
  padding: 15px 0
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1)

header .navbar-brand
  text-transform: uppercase
  letter-spacing: .2em
  font-weight: 400

header .navbar-brand.absolute
  position: absolute


@media (max-width: 991px)
  header .navbar-brand.absolute
    position: relative
  

header .navbar-brand span
  color: #ffc107

header .navbar
  padding-top: 0
  padding-bottom: 0
  background: none !important
  position: relative

@media (max-width: 767px)
  header .navbar
    background: black !important
    padding-top: .5rem
    padding-bottom: .5rem
  

header .navbar .nav-link 
  padding: 1.7rem 1rem
  outline: none !important
  font-size: 12px
  text-transform: uppercase
  letter-spacing: .2em

@media (max-width: 767px)
  header .navbar .nav-link 
    padding: .5rem 0rem


header .navbar .nav-link.active 
  color: #fff

header .navbar .dropdown-menu
  font-size: 14px
  border-radius: 4px
  border: none
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2)
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2)
  min-width: 13em
  margin-top: -10px

header .navbar .dropdown-menu:before
  bottom: 100%
  left: 10%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-bottom-color: #fff
  border-width: 7px

@media (max-width: 991px)
  header .navbar .dropdown-menu:before 
    display: none

header .navbar .dropdown-menu .dropdown-item:hover
  background: #ffc107
  color: #fff

header .navbar .dropdown-menu .dropdown-item.active 
  background: #ffc107
  color: #fff

header .navbar .dropdown-menu a
  padding-top: 7px
  padding-bottom: 7px

header .navbar .cta-btn a 
  background: #ffc107
  color: #000 !important
  padding-left: 20px !important
  padding-right: 20px !important
  text-transform: uppercase
  padding-top: 26px !important
  padding-bottom: 26px !important
  line-height: 1
  -webkit-transition: .3s all ease
  -o-transition: .3s all ease
  transition: .3s all ease

header .navbar .cta-btn a:hover
  color: #fff !important
  -webkit-box-shadow: 2px 0 30px -5px rgba(255, 193, 7, 0.9)
  box-shadow: 2px 0 30px -5px rgba(255, 193, 7, 0.9)

