/* You can add global styles to this file, and also import other style files */

//Variables a crear para utilizar sass y poder elegir el color a los elementos
$colornav: #00662a;
$colornavbar-toggler: #fff;
$nav-link: #fff;
$dropdown: #00662a;
$dropdown-item:#fff;
$lines-menu: #000;
$sidebar-menu: #000;
$skip-link: #000;
$footer: #00662a;

@import "assets/scss/bootstrap.scss";

//Estilos por defecto a todas las paginas
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//Estilos para los formularios del login y registro del login
body.fondo{
    background-color: #008b9b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Tahoma, sans-serif;
}
.card {
    width: 35%;
    margin-top: 10%;
}

.brand {
    color: #b48608; 
    font-family: 'Bangers', cursive;
    font-size: 2.7em; 
    font-weight: 500;
    text-align: center;
}

.card-body, .card-footer {
    background: lightgrey;
}

form {
    margin-bottom: 5%;
}

.btn {
    width: min-content;
    padding: 2% 10% 2% 10%;
}

.form-control:focus {
    background-color: lightyellow;
}

.link {
    text-decoration: none;
    color: rgb(33, 37, 41);
    font-weight: 100;
}

.link:hover {
    text-decoration: none;
    color: red;
}
//Estilos principales de la página de inicio
header .logo{
    padding: 20px;
}
header .texto{
    padding: 20px;
    text-align: right;
}
section h2{
    text-align: center;
}
nav{
    background-color: $colornav;
}
.navbar-toggler {
    background: $colornavbar-toggler;
} 
.nav-link {
    color: $nav-link;
    padding: 10px;
}
a{
    color: #fff;
}
nav a:link{
    color: #fff;
}
nav a:hover{
    color: #fff;
}
nav a:active{
    color: #fff;
}
nav a:visited{
    color: #fff;
}
.navbar-nav{
    justify-content: space-around;
    width: 100%;
}
.dropdown-menu{
    background: $dropdown;
}
.dropdown-item{
    color: $dropdown-item;
}
.lines-menu {
    background-color: $lines-menu;
    width: 100%;
    padding: 1px;
    display: block;
    margin: 6px 0;
}
.banner-img{
    padding: 1em 0;
}
section h2{
    text-align: center;
}
footer{
    text-align: center;
    background-color: $footer;
    padding: 5px;
}
.sidebar-menu {
    color: $sidebar-menu;
    text-decoration: none;
}
.sidebar-menu:hover {
    color: $sidebar-menu;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.skip-link{
    color: $skip-link;
    text-decoration: none;
}
.skip-link:hover{
    color: $skip-link;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
