<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Historia">
    <meta name="theme-color" content="#3c790a">
    <title>Historia</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <app-menu></app-menu>
    <section>
        <h2>Historia de la Hermandad de la Virgen de las Mercedes</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>La Hermandad de la Virgen de las Mercedes de Balerma se fundó el 8 de enero del año 1964 ante el notario apostólico Gabriel de Flores.</p>
                    <p>Además otro documento posterior refleja que la cofradia la componian en el año 1714 Francisco de Quero, como hermano mayor, y Pedro de Montes, como mayordomo.</p>
                    <p>La cofradía contaba desde sus comienzos con más de cien hermanos, fue única en su estilo junto a la de Adra, que tenía la de Nuestra Señora del Mar, también compuesta por "gente de marina y pescadores".</p>
                    <p>Era una hermandad grupal conpuesta por gente dedicada exclusivamente al mundo del mar, heredándose su puesto en la cofradía de padres a hijos.</p>
                    <p>El propósito era proporcionar un seguro de vida a los pescadores en caso de que fueran apresados por la piratería del norte de África. Se financiaba a través de donativos y contribuciones de los propios pescadores, quienes dedicaban un jornal de cada embarcación -entorno a los 200 reales-. Es la patrona de Balerma y se celebra el mismo día que la Iglesia Católica Apostólica Romana celebra la Festividad de la Asunción de Nuestra Señora, el 15 de Agosto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="assets/images/la-virgen-mercedes-balerma.webp" class="d-block w-100" alt="la-virgen-mercedes-balerma">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5>Declaraciones</h5>
                    <hr>
                    <p>El actual Hermano Mayor de la hermandad, Gabriel nos cuenta como hace ya unos quince años que se retomó la hermandad gracias al párroco Don Francisco Navarrete justo un año después de que su antecesor Don Fernando iniciara la tradición de llevar la Virgen al Parque de El Palmeral el día de la patrona festividad del 15 de Agosto. Además explica que: durante estos años hemos conseguido un nuevo trono para la imagen, y que cada año los balermeros disfruten de una romería y una procesión como se merecen.</p>
                    <p>Me gustaría agradecer a los más de cuatrocientos hermanos que conforman actualmente la hermandad, al pueblo de Balerma y a los miembros de la directiva, añadía el Hermano Mayor.</p>
                    <p>Por su parte el presidente de la Junta Local de Balerma, Antonio Gómez, comentaba que para mi es algo muy importante pues muy pocas hermandades pueden celebrar un aniversario con tanta antigüedad y eso a nivel de pueblo es para valorar. Debe ser un reconocimiento a tantas personas que han dado mucho por esta hermandad, tantos los que han estado y los que están ahora en ella. Esto demuestra la entidad y la historia de nuestro pueblo, y de su parroquia, al igual que hay mucha gente que desconoce que Balerma es el pueblo más antiguo del Campo de Dalías.</p>
                    <p>Por último, José Antonio Sánchez y Antonio Hidalgo, autores del libro Historia General de Balerma y Guardias Viejas, reconocen que averiguar que hoy se cumplan 320 años de la fundación de la Hermandad de la Virgen de las Mercedes no ha sido nada fácil, más que nada una casualidad gracias a Valeriano Sánchez quién durante la elaboración de nuestro libro recordó un documento donde se hablaba de la fecha exacta. Es un regalo para los Balermeros, saber que a comienzos del siglos XVI se fundo Malerba (Balerma) junto al Castillo ya desaparecido de mismo nombre.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>


