<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c790a">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Noticias">
    <title>Noticias</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-navbar></app-navbar>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <form [formGroup]="NoticiasFormulario" #formDir="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <div [hidden]="formDir.submitted">
                            <div class="cross-validation" [class.cross-validation-error]="NoticiasFormulario.errors?.identityRevealed && (NoticiasFormulario.touched || NoticiasFormulario.dirty)">
                                <h2 class="titulo">Editar Noticias</h2>
                                <fieldset>
                                    <legend>Noticia</legend>
                                    <hr>
                                    <div class="form-group">
                                        <label for="titulo">Titulo Noticia</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="titulo" 
                                               id="titulo"
                                               placeholder="titulo"
                                               formControlName="titulo"
                                               required
                                               size="30"
                                               aria-describedby="titulo">

                                        <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
                                            <div *ngIf="titulo.errors.required">
                                                Debe indicar el titulo.
                                            </div>
                                            <div *ngIf="titulo.errors.minlength">
                                                El titulo debe tener como mínimo 4 caractéres.
                                            </div>            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion">Descripcion Noticia</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="descripcion" 
                                               id="descripcion"
                                               placeholder="descripcion"
                                               formControlName="descripcion"
                                               required
                                               size="30"
                                               aria-describedby="descripcion">

                                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                                            <div *ngIf="descripcion.errors.required">
                                                Debe indicar la descripción.
                                            </div>
                                            <div *ngIf="descripcion.errors.minlength">
                                                La descripción debe tener como mínimo 4 caractéres.
                                            </div>            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="estado">Estado de la noticia</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="estado" 
                                               id="estado"
                                               placeholder="estado"
                                               formControlName="estado"
                                               required
                                               size="30"
                                               aria-describedby="estado">

                                        <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="alert alert-danger">
                                            <div *ngIf="estado.errors.required">
                                                Debe indicar el estado.
                                            </div>
                                            <div *ngIf="estado.errors.minlength">
                                                El estado debe tener como mínimo 4 caractéres.
                                            </div>            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="texto">Texto</label>
                                        <textarea class="form-control" 
                                                  name="texto" 
                                                  id="texto"
                                                  placeholder="texto"
                                                  formControlName="texto"
                                                  required
                                                  aria-describedby="texto" 
                                                  cols="45" 
                                                  rows="5">
                                        </textarea>

                                        <div *ngIf="texto.invalid && (texto.dirty || texto.touched)" class="alert alert-danger">
                                            <div *ngIf="texto.errors.required">
                                                Debe indicar el texto.
                                            </div>
                                            <div *ngIf="texto.errors.minlength">
                                                El texto debe tener como mínimo 4 caractéres.
                                            </div>            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="imagen">Imagen</label>
                                        <input type="hidden" name="MAX_FILE_SIZE" value="102400">
                                        <input type="file" 
                                               class="form-control-file" 
                                               name="imagen" 
                                               id="imagen"
                                               placeholder="imagen"
                                               formControlName="imagen"
                                               required
                                               aria-describedby="imagen" 
                                               size="44">

                                        <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="alert alert-danger">
                                            <div *ngIf="imagen.errors.required">
                                                Debe indicar la imagen.
                                            </div>           
                                        </div>
                                    </div>
                                </fieldset> 
                            </div>
                            <button type="submit" class="btn btn-primary" name="editar-noticia" id="editar-noticia" value="editar-noticia" [disabled]="NoticiasFormulario.invalid">Editar noticia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <br>
</body>
</html>

