<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c790a">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Noticias">
    <title>Noticias</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <section>
        <h2>Información de noticias sobre la Hermandad</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>