<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3c790a">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Parroco">
    <title>Parroco</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <app-menu></app-menu>
    <section>
        <h2>VIRGEN DE LAS MERCEDES, ACOMPÁÑAME</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>Queridos feligreses y veraneantes:</p>
                    <p>Un año más nos disponemos a celebrar las Fiestas en honor a nuestra Patrona la Virgen de las Mercedes. Es un momento de gracia, que Dios nos concede, para venerar a la Madre de su Hijo Jesús, nuestro Señor y madre nuestra. Es un momento para estar en familia y recordad a nuestros mayores y no tan mayores, que se han ido al cielo y que desde allí interceden por todos nosotros. Es un momento de compartir con los amigos venidos de varios lugares de nuestra geografía, y recordar las cosas que de niños haciamos. Es momento para compartir la fiesta, la ilusión, y por qué no, la fe que nuestros mayores nos han ido transmitiendo y que ahora podemos compartir en la Iglesia de nuestro pueblo.</p>
                    <p>Compartir la fe, significa aceptarnos como somos, poner cada uno de nuestra parte, compartir los dones que Dios nos ha concedido a cada uno al servicio de los demás, y lo más dificil, crear la unidad tan necesaria en nuestra iglesia. Una unidad que ha de brotar primero de la oración, después del amor fraterno y tercero de la celebración de la Eucaristia. Todo envuelto por el perdón y la humildad.</p>
                    <p>Por eso quiero pedirle a la Virgen de las Mercedes, patrona de este Pueblo, que nos acompañe: "Virgen de las Mercedes, acompáñame", título que le he dado a esta carta. Que nos acompañe en los momentos de dificultad, de desaliento, de desesperanza, de desilusión, de enfermedad, de fatigas, de pesadumbre, de resquemor, de angustia, de persecuciones, de blasfemias, de criticas infundadas, de malicia y rencor, de odios y orgullos... y un sinfin de situaciones en las que nos podamos ver involucrados. Ella y sólo Ella nos puede unir, nos puede aliviar, nos puede sanar. Y que me acompañe, especialmente a mi, vuestro pastor, para que mi futuro sea cierto.</p>
                    <p>Invito a todos, a través de este libro que la Hermandad ha realizado tan acertadamente, a que participéis de las Novenas en Honor a nuestra Patrona la Virgen de las Mercedes, que comienzan el día 6 de agosto a las 9 de la noche. A una madre se le vidita sobre todo en sus fiestas no lo olvidéis. También os invito a la Romería, Salve Solemne, Misa Solemne y Procesión Solemne del día 15 de agosto.</p>
                    <p>Aprovechar estos días y disfrutad mucho de la familia y de los amigos.</p>
                    <p>Que la Virgen de las Mercedes nos proteja y su Hijo Jesús nos bendiga.</p>
                    <p>Recibid un saludo fraterno y mi bendición.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>


