<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#3c790a">
    <title>Login Virgen de las Mercedes Ingresar</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body class="fondo">
    <app-cabecera></app-cabecera>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card w-50 border-warning text-center mx-auto">
                    <div class="card-header brand">
                        Hermandad
                    </div>
                    <div class="card-body">
                        <h4 class="nombre card-title text-center">Iniciar sesion</h4>
                        <form [formGroup]="LoginFormulario" #formDir="ngForm" (ngSubmit)="onSubmit()">
                            <div [hidden]="formDir.submitted">
                                <div class="cross-validation" [class.cross-validation-error]="LoginFormulario.errors?.identityRevealed && (LoginFormulario.touched || LoginFormulario.dirty)">
                                    <div class="form-group row">
                                        <label for="usuario" class="col-md-6 col-form-label text-md-right">Usuario</label>
                                        <div class="col-md-6">
                                            <input id="usuario" 
                                                   type="text" 
                                                   class="form-control" 
                                                   name="usuario"
                                                   formControlName="usuario"
                                                   required
                                                   size="30"  
                                                   placeholder="Introduce Usuario" 
                                                   id="usuario">

                                            <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="alert alert-danger">
                                                <div *ngIf="usuario.errors.required">
                                                    Debe indicar el usuario.
                                                </div>
                                                <div *ngIf="usuario.errors.minlength">
                                                    El usuario debe tener como mínimo 4 caractéres.
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-md-6 col-form-label text-md-right">Contraseña</label>
                                        <div class="col-md-6">
                                            <input id="password" 
                                                   type="password" 
                                                   class="form-control" 
                                                   name="password"
                                                   formControlName="password"
                                                   required
                                                   minlength="4"
                                                   maxlength="15"
                                                   size="30"  
                                                   placeholder="Contraseña" 
                                                   id="password">

                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                                <div *ngIf="password.errors.required">
                                                    Debe indicar el password.
                                                </div>
                                                <div *ngIf="password.errors.minlength">
                                                    El password debe tener como mínimo 4 caractéres.
                                                </div>
                                                <div *ngIf="password.errors.maxlength">
                                                    El password debe tener como maximo 15 caractéres.
                                                </div>           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" [disabled]="LoginFormulario.invalid">Ingresar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <p><a routerLink="/registro" class="link">¿Aun no tiene una cuenta?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>
