<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a routerLink="/"><span>Herm</span>andad</a></h1>
      <!-- nav-menu -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink="/" title="Página principal de Inicio" aria-label="Vuelve al Inicio">Inicio</a></li>
          <li><a routerLink="/historia" title="Página de Historia" aria-label="Vuelve a Historia">Historia</a></li>
          <li class="drop-down"><a routerLink="">Hermandad</a>
            <ul>
              <li><a routerLink="/hermanomayor" title="Página del Hermano Mayor" aria-label="Vuelve a Hermano Mayor">Hermano Mayor</a></li>
              <li><a routerLink="/novenas" title="Página de las Novenas" aria-label="Vuelve a Novenas">Novenas</a></li>
              <li><a routerLink="/parroco" title="Página del Párroco" aria-label="Vuelve a Parroco">Parroco</a></li>
            </ul>
          </li>
          <li><a routerLink="/noticias" title="Página de Noticias" aria-label="Vuelve a Noticias">Noticias</a></li>
          <li><a routerLink="/nuevohermano" title="Página del Nuevo Hermano" aria-label="Vuelve a Nuevo hermano">Nuevo hermano</a></li>
          <li class="drop-down"><a routerLink="">Galeria</a>
            <ul>
              <li><a routerLink="/imagenes" title="Página de imagenes" aria-label="Vuelve a Imagenes">Imagenes</a></li>
              <li><a routerLink="/videos" title="Página de videos" aria-label="Vuelve a Videos">Videos</a></li>
            </ul>
          </li>
          <li><a routerLink="/contacto" title="Página de contacto" aria-label="Vuelve a Contacto">Contacto</a></li>
          <li><a routerLink="/administracion/administracion" title="Página de administracion" aria-label="Vuelve a administracion">Administracion</a></li>
          <li><a routerLink="/login" title="Página de login" aria-label="Vuelve a login">Login</a></li>
          <li><a routerLink="/registro" title="Página de registro" aria-label="Vuelve a registro">Registro</a></li>
        </ul>
      </nav>
      <!-- nav-menu -->
    </div>
  </header>
  <!-- End Header -->
