<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página de Historia">
    <meta name="theme-color" content="#3c790a">
    <title>Historia</title>
    <link rel="icon" href="assets/images/logotipo.ico">
    <link rel="apple-touch-icon" href="assets/images/virgencita.png">
    <link rel="manifest" href="assets/js/manifest.webmanifest.json">
</head>
<body>
    <app-cabecera></app-cabecera>
    <!--main-->
    <main id="main">
      <section>
        <div class="container" data-aos="fade-up">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p>La Hermandad de la Virgen de las Mercedes de Balerma se fundó el 8 de enero del año 1964 ante el notario apostólico Gabriel de Flores. Además otro documento posterior refleja que la cofradia la componian en el año 1714 Francisco de Quero, como hermano mayor, y Pedro de Montes, como mayordomo. La cofradía contaba desde sus comienzos con más de cien hermanos, fue única en su estilo junto a la de Adra, que tenía la de Nuestra Señora del Mar, también compuesta por "gente de marina y pescadores".</p>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <img src="assets/images/la-virgen-mercedes-balerma.webp" class="d-block w-100" alt="la-virgen-mercedes-balerma">
            </div>
          </div>

        </div>
      </section>
    </main>
    <!-- End #main -->
    <app-pie-pagina></app-pie-pagina>
</body>
</html>

