<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" title="Página principal de Inicio o index" aria-label="Vuelve al Inicio o al index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historia.html" title="Página de Historia"  aria-label="Vuelve a Historia">Historia</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hermandad
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="" title="Página del Hermano Mayor" aria-label="Vuelve a Hermano Mayor">Hermano Mayor</a>
                        <a class="dropdown-item" href="" title="Página de las Novenas" aria-label="Vuelve a Novenas">Novenas</a>
                        <a class="dropdown-item" href="" title="Página del Párroco" aria-label="Vuelve a Parroco">Parroco</a>
                      </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" title="Página de Noticias" aria-label="Vuelve a Noticias">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" title="Página del Nuevo Hermano" aria-label="Vuelve a Nuevo hermano">Nuevo hermano</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Galeria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="" title="Página de imagenes" aria-label="Vuelve a Imagenes">Imagenes</a>
                            <a class="dropdown-item" href="" title="Página de videos" aria-label="Vuelve a Videos">Videos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" title="Página de contacto" aria-label="Vuelve a Contacto">Contacto</a>
                    </li>
                  </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
