<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span class="lines-menu"></span>
                        <span class="lines-menu"></span>
                        <span class="lines-menu"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html" title="Página principal de Inicio o Index" aria-label="Vuelve al Inicio o Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="historia.html" title="Página de Historia"  aria-label="Vuelve a Historia">Historia</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hermandad
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="hermanomayor.html" title="Página del Hermano Mayor" aria-label="Vuelve a Hermano Mayor">Hermano Mayor</a>
                                <a class="dropdown-item" href="novenas.html" title="Página de las Novenas" aria-label="Vuelve a Novenas">Novenas</a>
                                <a class="dropdown-item" href="parroco.html" title="Página del Párroco" aria-label="Vuelve a Parroco">Parroco</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="noticias.html" title="Página de Noticias" aria-label="Vuelve a Noticias">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nuevohermano.html" title="Página del Nuevo Hermano" aria-label="Vuelve a Nuevo hermano">Nuevo hermano</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Galeria
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="imagenes.html" title="Página de imagenes" aria-label="Vuelve a Imagenes">Imagenes</a>
                                <a class="dropdown-item" href="videos.html" title="Página de videos" aria-label="Vuelve a Videos">Videos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html" title="Página de contacto" aria-label="Vuelve a Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
