<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span class="lines-menu"></span>
                        <span class="lines-menu"></span>
                        <span class="lines-menu"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../inicio.php" title="Página principal de Inicio o Index" aria-label="Vuelve al Inicio o Index">Inicio</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
