<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Noticias</title>
</head>
<body>
    <div class="col-sm-12 col-md-12 col-lg-12 noticias-container">
        <h2 style="margin: auto">Listar noticias</h2>
        <button class="btn btn-danger" style="width:100px">Nueva Noticia</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="hidden">id_noticia</th>
                    <th>descripcion_noticia</th>
                    <th>directorio_noticia</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
