<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-cabecera></app-cabecera>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>La Hermandad de la Virgen de las Mercedes de Balerma se fundó el 8 de enero del año 1964 ante el notario apostólico Gabriel de Flores.</p>
                    <p>Además otro documento posterior refleja que la cofradia la componian en el año 1714 Francisco de Quero, como hermano mayor, y Pedro de Montes, como mayordomo.</p>
                    <p>La cofradía contaba desde sus comienzos con más de cien hermanos, fue única en su estilo junto a la de Adra, que tenía la de Nuestra Señora del Mar, también compuesta por "gente de marina y pescadores".</p>
                    <p>Era una hermandad grupal conpuesta por gente dedicada exclusivamente al mundo del mar, heredándose su puesto en la cofradía de padres a hijos.</p>
                </div>
            </div>
        </div>
    </main>
    <app-pie-pagina></app-pie-pagina>
</body>
</html>
